<li>
    <div class="timeline-badge"></div>
    <div class="timeline-panel" ui-sref="{{ momentSref }}">
        <div ng-if="picture" class="timeline-picture" style="background-image: url({{ picture }});"></div>
        <div class="timeline-heading">
            <div class="timeline-title">{{ momentTitle }}</div>
            <p class="timeline-date">
                <i></i>
                <span ng-if="fromDate !== toDate">
                    <span class="avoid-wrap">{{ fromDate | date:'fullDate'}} &ndash;</span>
                    <span class="avoid-wrap">{{ toDate | date:'fullDate'}}</span>
                </span>
                <span ng-if="fromDate === toDate">{{ fromDate | date:'fullDate'}}</span>
            </p>
        </div>
        <div class="timeline-body" ng-transclude>
        </div>
    </div>
</li>