# General
Tools/
data/
lib/

# Maven
target/

# IntelliJ
.idea/
*.iml

# Triplog Client
triplog-client/public/modules/config/
.ftpauth
log/
tmp/
node_modules/
dist/
.tmp/
bower_components/
.sass-cache/
triplog-client/_SpecRunner.html
triplog-client/public/styles/vendor
test-results.xml
TESTS-PhantomJS_1.9.8_(Mac_OS_X_0.0.0).xml