<header>
    <h1 class="line">{{ stepDetail.step.stepName }}</h1>
    <date-line from-date="{{ stepDetail.step.fromDate }}" to-date="{{ stepDetail.step.toDate }}"></date-line>
</header>

<article class="columns">
    <div class="triplog-lead">
        {{ stepDetail.step.stepLead }}
    </div>

    <div class="triplog-text" marked="stepDetail.step.stepText"></div>
</article>

<triplog-map gps-points="stepDetail.step.gpsPoints" pictures="stepDetail.galleryPictures" ng-if="stepDetail.showMap()"></triplog-map>

<triplog-gallery ng-if="stepDetail.galleryPictures && stepDetail.galleryPictures.length > 0" pictures="stepDetail.galleryPictures"></triplog-gallery>

<timestamps model="stepDetail.step"></timestamps>

<aside class="previousNextStep">
    <div class="prev" ng-if="stepDetail.step.previousStep">
        <div class="link-holder"
             ui-sref="content.stepOfTrip({tripId: '{{ stepDetail.step.tripId }}', stepId: '{{ stepDetail.step.previousStep.stepId }}'})">
            <div>
                <i class="icon-prev"></i>
            </div>
            <div class="text"> {{ stepDetail.step.previousStep.stepName }}</div>
        </div>
    </div>

    <div class="prev-placeholder" ng-if="!stepDetail.step.previousStep"></div>
    <div class="next" ng-if="stepDetail.step.nextStep">
        <div class="link-holder"
             ui-sref="content.stepOfTrip({tripId: '{{ stepDetail.step.tripId }}', stepId: '{{ stepDetail.step.nextStep.stepId }}'})">
            <div class="text">{{ stepDetail.step.nextStep.stepName }}</div>
            <div>
                <i class="icon-next"></i>
            </div>
        </div>
    </div>
</aside>