.content-container {
  @include calc(height, "100% - #{$navbar-height}");
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.ios-status-bar-present {
    @include calc(height, "100% - #{$navbar-height} - #{$ios-status-bar-height}");
  }

  p {
    text-align: justify;
  }
}