.content-container {
  @include calc(height, "100% - #{$navbar-height}");
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.ios-status-bar-present {
    @media (max-width: $screen-xs-max) and (orientation: landscape) {
      @include calc(height, "100% - #{$navbar-height}");
    }

    @include calc(height, "100% - #{$navbar-height} - #{$ios-status-bar-height}");
  }

  .ui-view-container {
    @extend .paper-effect;

    p {
      text-align: justify;
    }
  }
}