div.triplog-gallery {
  width: 90%;
  margin: 70px auto;
  @include align-items(flex-start);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(center);
  @include flex-wrap(wrap);

  > div {
    width: 200px;
    height: 240px;

    @media (min-width: 350px) {
      width: 270px;
      height: 310px;
    }

    border: 10px solid $polaroidColor;
    border-bottom-width: 50px;
    box-shadow: -2px 2px 15px black;
    transition: 0.2s ease;

    background: no-repeat center;
    background-size: cover;
  }

  > div:nth-child(7n+1) {
    @include transform(rotate(17deg));
  }

  > div:nth-child(7n+2) {
    @include transform(rotate(-8deg));
  }

  > div:nth-child(7n+3) {
    @include transform(rotate(-3deg));
  }

  > div:nth-child(7n+4) {
    @include transform(rotate(6deg));
    transform: rotate(6deg);
  }

  > div:nth-child(7n+5) {
    @include transform(rotate(-15deg));
  }

  > div:nth-child(7n+6) {
    @include transform(rotate(3deg));
  }

  > div:nth-child(7n+7) {
    @include transform(rotate(10deg));
  }

  @media (min-width: $screen-sm-min) {
    > div:hover {
      @include transform(rotate(0deg) scale(1.3));
      z-index: 1;
    }
  }
}