* {
  box-sizing: border-box;
  position: relative;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'IM Fell Great Primer', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Shadows Into Light', cursive;
}

.page-container, .page {
  height: 100%;
  margin: 0;
}