html, body {
  height: 100%;
  font-family: 'IM Fell Great Primer', serif;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Shadows Into Light', cursive;
}

.btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn.btn-default.transparent {
  background: none;
  border-width: 2px;
  padding: 15px;
  color: $btn-default-bg;
}

.page-container, .page {
  height: 100%;
  margin: 0;
}