@media (max-width: $screen-xs-max) and (orientation: landscape) {
  .ios-title-bar {
    display: none !important;
  }
}

.ios-title-bar {
  width: 100%;
  height: $ios-status-bar-height;
  background-color: $bgDefault;

  @media (min-width: $screen-sm-min) {
    &.navigation {
      display: none;
    }
  }
}

.navbar {
  position: inherit;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;

  .navbar-brand {
    color: $colDefault;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    padding: 0 15px;

    .logo {
      vertical-align: middle;
      font-size: 2em;
    }

    .text {
      vertical-align: middle;
    }

    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight;
        }
      }
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover, &:focus {
              color: $colHighlight;
              background-color: $bgHighlight;
            }
          }
          .divider {
            background-color: $bgHighlight;
          }
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $colDefault;
    &:hover, &:focus {
      background-color: $bgDefault;
    }

    &.active {
      background-color: $bgHighlight;
    }

    .icon-bar {
      background-color: $colDefault;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }

  .content {
    .navbar-collapse {
      position: fixed;
      top: 0;
      right: -80%;
      width: 80%;
      height: 100%;
      max-height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: $bgDefault;
      border: none;

      .navbar-nav {
        margin: 0 -15px;

        > li > a {
          padding-top: 15px;
          padding-bottom: 15px;
          line-height: 20px;
          border-bottom: 1px solid $colDefault;
        }
      }
    }
  }
}

.navigation-is-shown {
  @include animation(moveToLeft80 .6s ease both);
}

.navigation-is-shown-remove {
  @include animation(moveFromLeft80 .6s ease both);
}