$bgDefault      : #3c6ee7;
$bgHighlight    : #3c5dbd;
$colDefault     : #ffffff;
$colHighlight   : #ffffff;
$dropDown       : false;
$dropDown: false;

.navbar-default {
  font-family: 'Shadows Into Light', cursive;

  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight;
        }
      }
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover, &:focus {
              color: $colHighlight;
              background-color: $bgHighlight;
            }
          }
          .divider {
            background-color: $bgHighlight;
          }
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $colDefault;
    &:hover, &:focus {
      background-color: $bgDefault;
    }

    &.active {
      background-color: $bgHighlight;
    }

    .icon-bar {
      background-color: $colDefault;
    }
  }


  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }

  .content {
    .navbar-collapse {
      position: fixed;
      top: 0;
      right: -80%;
      width: 80%;
      height: 100%;
      max-height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: $bgDefault;
      border: none;
      border-left: 1px solid $colDefault;

      .navbar-nav {
        margin: 0 -15px;

        > li > a {
          padding-top: 15px;
          padding-bottom: 15px;
          line-height: 20px;
          border-bottom: 1px solid $colDefault;
        }
      }
    }
  }
}

.moveToLeft80 {
  @include animation(moveToLeft80 .6s ease both);
}

.moveFromLeft80 {
  @include animation(moveFromLeft80 .6s ease both);
}