// General
[ui-view].page-container.ng-enter, [ui-view].page-container.ng-leave {
  position: absolute;
  width: 100%;
  top: 0;
}

[ui-view].page-container.welcome {
  z-index: 5;
}

//Transitions

// Welcome -> Content
[ui-view].page-container.welcome.ng-leave {
  @include animation(moveToTop .6s ease both);
}

[ui-view].page-container.content.ng-enter {
  @include animation(doNothing .6s ease both);

  nav {
    position: absolute;
    top: 0;
    z-index: -10
  }
}

// Content -> Welcome
[ui-view].page-container.content.ng-leave {
  @include animation(doNothing .6s ease both);

  nav {
    position: absolute;
    top: 0;
    z-index: -10;
  }
}

[ui-view].page-container.welcome.ng-enter {
  @include animation(moveFromTop .6s ease both);
}
