.trip-preview {
  @include calc(width, '100% - 30px');
  margin-left: 15px;
  padding: 20px;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  &:before, &:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
  }

  .cover-picture {
    float: left;
    margin-right: 20px;
    background: no-repeat center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: -2px 2px 15px black;

    @media (max-width: $screen-xs-max) {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
  }

  h2 {
    margin-top: 0;
  }

}