.trip-preview {
  background-color: $triplogBlue;
  color: white;
  padding: 20px;

  .cover-picture {
    float: left;
    margin-right: 20px;
    background: no-repeat center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: -2px 2px 15px black;

    @media (max-width: $screen-xs-max) {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
  }

  h2 {
    margin-top: 0;
  }
}