@font-face {
  font-family: 'triplog';
  src:url('../fonts/triplog/triplog.eot?1pp9q8');
  src:url('../fonts/triplog/triplog.eot?#iefix1pp9q8') format('embedded-opentype'),
  url('../fonts/triplog/triplog.ttf?1pp9q8') format('truetype'),
  url('../fonts/triplog/triplog.woff?1pp9q8') format('woff'),
  url('../fonts/triplog/triplog.svg?1pp9q8#triplog') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'triplog';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triplog:before {
  content: "\e60a";
}
.icon-trip-overview:before {
  content: "\e604";
}
.icon-trip:before {
  content: "\e608";
}
.icon-step:before {
  content: "\e606";
}
.icon-step-overview:before {
  content: "\e607";
}
.icon-prev:before {
  content: "\e601";
}
.icon-next:before {
  content: "\e602";
}
.icon-dropdown:before {
  content: "\e600";
}
.icon-dropup:before {
  content: "\e605";
}
.icon-delete:before {
  content: "\e609";
}
.icon-add:before {
  content: "\e60b";
}
.icon-info:before {
  content: "\e60e";
}
.icon-expensive:before {
  content: "\e60c";
}
.icon-worth-seeing:before {
  content: "\e60d";
}
.icon-star-empty:before {
  content: "\e60f";
}
.icon-star:before {
  content: "\e610";
}
.icon-camera:before {
  content: "\e603";
}
