@include font-face("Pacifico", "/fonts/text/pacifico", $weight: 400, $file-formats: eot svg ttf woff woff2);
@include font-face("Raleway", "/fonts/text/raleway-extralight", $weight: 200, $file-formats: eot svg ttf woff woff2);
@include font-face("Raleway", "/fonts/text/raleway-regular", $weight: 400, $file-formats: eot svg ttf woff woff2);

body {
  font-family: 'Raleway', serif;
  font-weight: 200;
  font-size: $font-size-base;
  color: $font-color;

  .welcome-page {
    .text {
      .quote {
        font-family: 'Pacifico', serif;
      }

      .author {
        font-family: 'Raleway', serif;
      }
    }
  }

  article {
    margin-bottom: 20px;

    &.columns {
      @media(min-width: $screen-sm-min) {
        @include column-count(3);
        @include column-gap(40px);
        @include column-rule(1px solid $font-color);
        widows: 5;
        orphans: 5;
      }
    }
  }

  div.lead {
    font-weight: 400;
    font-size: $font-size-base;
  }

  div.text {
    h2, h3, h4, h5, h6 {
      text-align: center;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      padding: 5px 0px;
    }

    img {
      width: 100%;
      margin: 5px 0;
    }
  }

  .navbar-default {
    .navbar-brand {
      font-family: 'Pacifico', serif;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-family: 'Pacifico', serif;

    &.line {
      margin: 50px 0;
      text-align: center;
      z-index: 1;

      &:after {
        content: "";
        position: absolute;
        border-top: 2px solid $font-color;
        margin: 0 auto;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 80%;

        @media(max-width: $screen-xs-max) {
          max-width: 100%;
        }
        
        z-index: -1;
      }

      > span {
        background-color: white;
        padding: 0 30px;

        @media(max-width: $screen-xs-max) {
          padding: 0 10px;
        }
      }
    }
  }
}