<header>
    <h1 class="line">{{ step.step.stepName }}</h1>
</header>

<form class="edit-step-form">
    <!-- Step Name -->
    <div class="form-group">
        <label for="step-name" class="col-xs-12 col-sm-2 control-label">Name</label>
        <div class="col-xs-12 col-sm-10">
            <input type="text" class="form-control" id="step-name" placeholder="Step Name" ng-model="step.editableStep.stepName">
        </div>
    </div>

    <!-- From Date -->
    <div class="form-group">
        <label for="from-date" class="col-xs-12 col-sm-2 control-label">From Date</label>
        <div class="col-xs-12 col-sm-10">
            <input type="date" class="form-control" id="from-date" ng-model="step.editableStep.fromDate">
        </div>
    </div>

    <!-- To Date -->
    <div class="form-group">
        <label for="to-date" class="col-xs-12 col-sm-2 control-label">To Date</label>
        <div class="col-xs-12 col-sm-10">
            <input type="date" class="form-control" id="to-date" ng-model="step.editableStep.toDate">
        </div>
    </div>

    <!-- Step Lead -->
    <div class="form-group">
        <label for="step-lead" class="col-xs-12 col-sm-2 control-label">Lead</label>
        <div class="col-xs-12 col-sm-10">
            <textarea class="form-control" id="step-lead" rows="5" ng-model="step.editableStep.stepLead"></textarea>
        </div>
    </div>

    <!-- Step Text -->
    <markdown-preview model="step.editableStep.stepText"></markdown-preview>

    <!-- Cover Picture -->
    <div class="form-group">
        <label for="cover-picture" class="col-xs-12 col-sm-2 control-label">Cover Picture</label>
        <div class="col-xs-12 col-sm-10">
            <input type="text" class="form-control" id="cover-picture" placeholder="pictureid.jpg" ng-model="step.editableStep.coverPicture">
        </div>
    </div>

    <!-- GPS Points -->
    <div class="form-group" ng-class="{'has-error': step.gpsPointJsonInvalid}">
        <label for="gps-points" class="col-xs-12 col-sm-2 control-label">GPS Points</label>
        <div class="col-xs-12 col-sm-10">
            <textarea class="form-control fixed-width-font"
                      id="gps-points"
                      rows="10"
                      ng-model="step.editableStep.gpsPoints"
                      ng-blur="step.prettifyGpsPoints()">
            </textarea>
            <p class="small text-danger" ng-show="step.gpsPointJsonInvalid">No valid JSON!</p>
        </div>
    </div>

    <!-- Traveled countries -->
    <div class="form-group">
        <label for="traveled-countries" class="col-xs-12 col-sm-2 control-label">Traveled countries</label>
        <div class="col-xs-12 col-sm-10">
            <ul ng-if="step.editableStep.traveledCountries.length > 0">
                <li ng-repeat="isoCode in step.editableStep.traveledCountries">
                    {{ step.getCountryNameFor(isoCode); }} <span class="icon-delete" ng-click="step.deleteTraveledCountry(isoCode)"></span>
                </li>
            </ul>

            <select class="form-control"
                    id="traveled-countries"
                    ng-model="step.selectedCountry"
                    ng-options="isoCode as countryName for (isoCode, countryName) in step.selectableCountries"
                    ng-change="step.addTraveledCountry();">
                <option disabled value="">Select country...</option>
            </select>
        </div>
    </div>

    <!-- Pictures -->
    <div class="form-group" ng-if="step.editableStep.pictures.length > 0">
        <label for="publish-date" class="col-xs-12 col-sm-2 control-label">Pictures</label>
        <div class="col-xs-12 col-sm-10">
            <div class="picture-row" ng-repeat="picture in step.editableStep.pictures track by $index">
                <!-- Picture -->
                <div class="col-xs-12 col-sm-4">
                    <div class="picture" ng-class="{'portrait': picture.width < picture.height}" style="background-image: url('{{ picture.url }}/thumbnail');"></div>
                    <button ng-click="step.deletePicture(picture.name)" class="btn-delete">Delete</button>
                    <button ng-click="step.setAsCoverPicture(picture.name)" class="btn-set-as-cover-picture">Set as cover picture</button>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <!-- Picture ID -->
                    <div class="form-group">
                        <label for="picture-name-{{ $index }}" class="col-xs-12 col-sm-2 control-label">ID</label>
                        <div class="col-xs-12 col-sm-10">
                            <input type="text" class="form-control" disabled id="picture-name-{{ $index }}" ng-model="picture.name">
                        </div>
                    </div>

                    <!-- Picture URL -->
                    <div class="form-group">
                        <label for="picture-url-{{ $index }}" class="col-xs-12 col-sm-2 control-label">URL</label>
                        <div class="col-xs-12 col-sm-10">
                            <input type="text" class="form-control" disabled id="picture-url-{{ $index }}" ng-model="picture.url">
                        </div>
                    </div>

                    <!-- Picture Location lat -->
                    <div class="form-group">
                        <label for="picture-latitude-{{ $index }}" class="col-xs-12 col-sm-2 control-label">Lat</label>
                        <div class="col-xs-12 col-sm-10">
                            <input type="text" class="form-control" id="picture-latitude-{{ $index }}" ng-model="picture.location.lat">
                        </div>
                    </div>

                    <!-- Picture Location lng -->
                    <div class="form-group">
                        <label for="picture-longitude-{{ $index }}" class="col-xs-12 col-sm-2 control-label">Lng</label>
                        <div class="col-xs-12 col-sm-10">
                            <input type="text" class="form-control" id="picture-longitude-{{ $index }}" ng-model="picture.location.lng">
                        </div>
                    </div>

                    <!-- Picture caption -->
                    <div class="form-group">
                        <label for="picture-caption-{{ $index }}" class="col-xs-12 col-sm-2 control-label">Caption</label>
                        <div class="col-xs-12 col-sm-10">
                            <input type="text" class="form-control" id="picture-caption-{{ $index }}" ng-model="picture.caption">
                        </div>
                    </div>

                    <!-- Shown in gallery -->
                    <div class="form-group">
                        <label for="picture-show-in-gallery-{{ $index }}" class="col-xs-12 col-sm-2 control-label">Gallery</label>
                        <div class="col-xs-12 col-sm-10">
                            <input type="checkbox" id="picture-show-in-gallery-{{ $index }}" ng-model="picture.shownInGallery">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Publish date -->
    <div class="form-group">
        <label for="publish-date" class="col-xs-12 col-sm-2 control-label">Publish Date</label>
        <div class="col-xs-12 col-sm-10">
            <input type="datetime-local" class="form-control" id="publish-date" ng-model="step.editableStep.published">
        </div>
    </div>

    <!-- Buttons -->
    <div class="form-group">
        <div class="col-xs-4 col-sm-offset-2 col-sm-3 btn-col">
            <button ng-click="step.reset()" class="btn-reset">Reset</button>
        </div>
        <div class="col-xs-8 col-sm-7 btn-col right">
            <button ng-click="step.cancelEdit()" class="btn-cancel">Cancel</button>
            <button ng-disabled="step.saveButtonDisabled()" ng-click="step.saveStep()" class="btn-ok">Save</button>
        </div>
    </div>
</form>