<div class="page content-page" ng-class="{ 'navigation-is-shown': content.navigationIsShown }">
    <div class="ios-title-bar" ng-if="content.isIosFullscreen"></div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-class="{ 'active': content.navigationIsShown }"
                    ng-click="content.toggleNavigation()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="welcome">
                bros.pics
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" hm-swiperight="content.closeNavigation()">
            <ul class="nav navbar-nav">
                <!-- Spacer for iOS Title Bar -->
                <li class="ios-title-bar navigation" ng-if="content.isIosFullscreen"></li>

                <!-- Normal Link -->
                <li ng-repeat-start="entry in content.navBarEntries"
                    ng-class="{ active: entry.active }"
                    ng-if="!entry.entries">

                    <a href ng-click="entry.action()">{{ entry.name }}</a>
                </li>

                <!-- Dropdown -->
                <li ng-class="{ active: entry.active }"
                    class="dropdown"
                    dropdown
                    on-toggle="toggled(open)"
                    ng-if="entry.entries"
                    ng-repeat-end>

                    <a href class="dropdown-toggle" role="button" dropdown-toggle>
                        {{ entry.name }} <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat-start="(dropDownEntryId, dropDownEntry) in entry.entries">
                            <a href ng-click="dropDownEntry.action()">{{ dropDownEntry.name }}</a>
                        </li>
                        <li class="divider" ng-if="dropDownEntry.divider" ng-repeat-end></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <main class="content-container" ng-class="{ 'ios-status-bar-present': content.isIosFullscreen }">
        <div class="container-fluid"
             hm-swipeleft="content.openNavigation()"
             hm-swiperight="content.closeNavigation()">

            <div class="row">
                <div class="col-md-12 col-lg-8 col-lg-offset-2 ui-view-container">
                    <div class="content" ui-view></div>
                </div>
            </div>
        </div>
    </main>
</div>