<div class="timestamps">
    <div class="last-updated">
        Last updated on <strong>{{ model.lastUpdated | date:'fullDate' }}</strong>
        at <strong>{{ model.lastUpdated | date:'HH:mm' }}</strong>
    </div>
    <div class="published" ng-if="model.published">
        Published on <strong>{{ model.published | date:'fullDate' }}</strong>
        at <strong>{{ model.published | date:'HH:mm' }}</strong>
    </div>
    <div class="published" ng-if="!model.published">
        Not yet published
    </div>
</div>