@include keyframes(moveToTop) {
  from {
  }
  to {
    @include transform(translateY(-100%));
  }
}

@include keyframes(moveFromTop) {
  from {
    @include transform(translateY(-100%));
  }
}

@include keyframes(moveToRight) {
  from {
    @include transform(translateX(-100%));
  }
}

@include keyframes(moveToRight80) {
  from {
    @include transform(translateX(-80%));
  }
}

@include keyframes(moveToBottom) {
  from {
  }
  to {
    @include transform(translateY(100%));
  }
}

@include keyframes(moveFromBottom) {
  from {
    @include transform(translateY(100%));
  }
}

@include keyframes(moveToLeft) {
  from {
  }
  to {
    @include transform(translateX(-100%));
  }
}

@include keyframes(moveToLeft80) {
  from {
  }
  to {
    @include transform(translateX(-80%));
  }
}

@include keyframes(moveFromLeft) {
  from {
    @include transform(translateX(-100%));
  }
}

@include keyframes(moveFromLeft80) {
  from {
    @include transform(translateX(-80%));
  }
}

@include keyframes(alertOut) {
  from {
  }
  to {
    @include transform(translateY(-500px));
  }
}

@include keyframes(alertIn) {
  from {
    @include transform(translateY(-500px));
  }
}

@include keyframes(white-pulse) {
  from {
    box-shadow: 0 0 0 white;
  }
  50% {
    box-shadow: 0 0 50px white;
  }
  to {
    box-shadow: 0 0 0 white;
  }
}

.hiddenBefore {
  visibility: hidden;
}

/*** Taken from animate.css ***/

.animated {
  @include animation-duration(1s);
  @include animation-fill-mode(both);
}

@include keyframes(bounceIn) {
  from, 20%, 40%, 60%, 80%, to {
    @include animation-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
  }

  0% {
    opacity: 0;
    @include transform(scale3d(.3, .3, .3));
  }

  20% {
    @include transform(scale3d(1.1, 1.1, 1.1));
  }

  40% {
    @include transform(scale3d(.9, .9, .9));
  }

  60% {
    opacity: 1;
    @include transform(scale3d(1.03, 1.03, 1.03));
  }

  80% {
    @include transform(scale3d(.97, .97, .97));
  }

  to {
    opacity: 1;
    @include transform(scale3d(1, 1, 1));
  }
}

.bounceIn {
  @include animation-name(bounceIn);
}