.btn-glow {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-lg;
  @include animation(white-pulse 2s infinite);
}

.btn-delete {
  &:before {
    @extend .icon;
    @extend .icon-delete;
    position: relative;
    top: 1px;
    margin-right: 5px;
  }

  @extend .btn;
  @extend .btn-danger;
  margin: 20px auto;
  display: block;
  width: 40%;
  min-width: 300px;

  .name {
    font-style: italic;
  }
}

.btn-col {
  &.right {
    text-align: right;
  }

  .btn-ok {
    @extend .btn;
    @extend .btn-primary;
  }

  .btn-cancel {
    @extend .btn;
    @extend .btn-default;
  }

  .btn-reset {
    @extend .btn;
    @extend .btn-default;
  }
}