.content-container {
  height: 100%;
  padding-top: $navbar-height;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.ios-status-bar-present {
    @media (max-width: $screen-xs-max) and (orientation: landscape) {
      padding-top: $navbar-height;
    }

    padding-top: $navbar-height + $ios-status-bar-height;
  }

  .ui-view-container {
    @extend .paper-effect;

    p {
      text-align: justify;
    }

    .previousNextStep {
      @extend .row;
      margin-bottom: 30px;

      .prev, .prev-placeholder, .next {
        @extend .col-xs-6;
        @extend .h4;
      }

      .prev {
        &:before {
          @extend .icon, .icon-prev;
        }
      }

      .next {
        text-align: right;

        &:after {
          @extend .icon, .icon-next, .after;
        }
      }
    }
  }
}