.content-container {
  padding-top: $navbar-height;

  &.ios-status-bar-present {
    @media (max-width: $screen-xs-max) and (orientation: landscape) {
      padding-top: $navbar-height;
    }

    padding-top: $navbar-height + $ios-status-bar-height;
  }

  .ui-view-container {
    @extend .paper-effect;

    p {
      text-align: justify;
    }

    .previousNextStep {
      @extend .row;
      margin: 30px 0;

      .prev, .prev-placeholder, .next {
        @extend .col-xs-6;
        @extend .h4;

        .link-holder {
          display: table;
          height: 40px;

          div {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }

      .prev {
        .link-holder {
          .text {
            padding-left: 10px;
          }
        }
      }

      .next {
        .link-holder {
          text-align: right;
          float: right;

          .text {
            padding-right: 10px;
          }
        }
      }

      @media (min-width: $screen-lg-min) {
        .prev, .next {
          .text {
            transition: .2s ease;
          }
        }

        .prev {
          .link-holder:hover {
            .text {
              padding-left: 5px;
            }
          }
        }

        .next {
          .link-holder:hover {
            .text {
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
}