.date-line {
  position: relative;
  top: -25px;
  font-weight: 400;
  font-size: 1.1em;
  text-align: center;
}

.timestamps {
  padding: 20px;
  font-size: .9em;
  display: table;
  width: 100%;

  .last-updated, .published {
    padding: 0 20px;
    width: 50%;
    display: table-cell;
  }

  .last-updated {
    text-align: right;
    border-right: 1px solid dimgrey;
  }
}
