html, body {
  height: 100%;
  overflow: hidden;
}

.page-container, .page {
  height: 100%;
  margin: 0;
}

[ui-sref] {
  cursor: pointer;
}

.content-container {
  position: relative;
  z-index: 1000;
  display: block
}