html, body {
  height: 100%;
  overflow: hidden;
}

.page-container, .page {
  height: 100%;
  margin: 0;
}

[ui-sref] {
  cursor: pointer;
}

*:not(html) {
  -webkit-transform: translate3d(0, 0, 0);
}