.triplog-map-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; // 16:9
  
  @media (max-width: $screen-xs-max) {
    padding-top: 75%; // 4:3
  }
  
  .picture-marker {
    border: 3px solid rgba(255, 255, 255, .8);
    border-radius: 5px;
  }

  .leaflet {
    &-top, &-bottom, &-left, &-right {
      z-index: 1;
    }
  }

  .covered-distance {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0,0,0,.6);
    z-index: 1;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
}
