.welcome-animation {
  .page-container {
    $welcome-animation-duration: .6s;

    &.ng-enter, &.ng-leave {
      position: absolute;
      width: 100%;
      top: 0;
      overflow: hidden;

      nav {
        position: absolute;
        top: 0;
        z-index: 1;
      }
    }

    // Welcome -> Content
    &.content-transition-add {
      &.ng-leave {
        @include animation(moveToTop $welcome-animation-duration ease both);
      }

      &.ng-enter {
        @include animation(none $welcome-animation-duration);
        z-index: -10;
      }
    }

    // Content -> Welcome
    &.welcome-transition-add {
      &.ng-leave {
        @include animation(none $welcome-animation-duration);
        z-index: -10;
      }

      &.ng-enter {
        @include animation(moveFromTop $welcome-animation-duration ease both);
      }
    }
  }
}