.triplog-tile-box {
  width: 100%;
  margin: 30px auto;
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-around);
  @include flex-wrap(wrap);

  .triplog-tile {
    @extend .paper-effect;
    position: relative;
    @include flex-grow(0);
    width: 400px;
    max-width: 100%;
    margin: 5px;
    padding: 20px;

    @media (max-width: $screen-xs-max) {
      padding: 12px;
    }

    .cover-picture {
      background: no-repeat center;
      background-size: cover;
      width: 100%;
      padding-top: 66.66666666%; // 3:2
      margin-bottom: 10px;
    }

    h2 {
      margin-top: 0;
    }
  }
}
