@include font-face("Pacifico", "/fonts/text/pacifico", $weight: 400, $file-formats: eot svg ttf woff woff2);
@include font-face("Raleway", "/fonts/text/raleway-extralight", $weight: 200, $file-formats: eot svg ttf woff woff2);
@include font-face("Raleway", "/fonts/text/raleway-regular", $weight: 400, $file-formats: eot svg ttf woff woff2);

body {
  font-family: 'Raleway', serif;
  font-weight: 200;
  font-size: $font-size-base;
  color: $font-color;

  .welcome-page {
    .text {
      .quote {
        font-family: 'Pacifico', serif;
      }

      .author {
        font-family: 'Raleway', serif;
      }
    }
  }

  article {
    margin-bottom: 20px;

    &.columns {
      @media(min-width: $screen-sm-min) {
        @include column-count(3);
        @include column-gap(40px);
        @include column-rule(1px solid dimgrey);
        widows: 5;
      }
    }
  }

  .triplog-lead {
    font-weight: 400;
    font-size: $font-size-base;
    text-align: justify;
  }

  .triplog-text {
    h2, h3, h4, h5, h6 {
      text-align: center;
      border-top: 1px solid dimgrey;
      border-bottom: 1px solid dimgrey;
      padding: 10px 0;
    }

    img {
      width: 100%;
      margin: 5px 0;
    }
  }

  .fixed-width-font {
    font-family: 'Courier New', monospace;
  }

  .navbar-default {
    .navbar-brand {
      font-family: 'Pacifico', serif;
    }
  }

  span.avoid-wrap {
    display: inline-block;
  }

  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 {
    position: relative;
    font-family: 'Pacifico', serif;

    &.line {
      position: relative;
      margin: 40px 0;
      text-align: center;

      @media (max-width: $screen-xs-max) {
        padding: 5px 0;
        border-top: 2px solid dimgray;
        border-bottom: 2px solid dimgray;
      }

      @media (min-width: $screen-sm-min) {
        height: 70px;
        line-height: 65px;
        margin: 20px 0;
        z-index: 1;
        overflow: hidden;

        &:before, &:after {
          position: absolute;
          @include calc(top, "50% - 1px");
          overflow: hidden;
          width: 30%;
          height: 2px;
          content: '\a0';
          background-color: dimgrey;
        }

        &:before {
          margin-left: -32%;
        }

        &:after {
          margin-left: 2%;
        }
      }
    }
  }

  .warning-box {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    font-size: .8em;
    font-weight: bold;
    color: $brand-warning;
  }
}