// Colors
$triplog-blue: #3c6ee7;

// iOS status bar
$ios-status-bar-height: 20px;

// Navigation
$bgDefault: $triplog-blue;
$bgHighlight: #3c5dbd;
$colDefault: #ffffff;
$colHighlight: #ffffff;
$dropDown: false;

// Gallery
$polaroidColor: #ffffff;

// Typography
$font-size-base: 15px;
$font-color: #404040;