<div class="triplog-modal-header">
    <h3>{{ modalInstance.modalData.title }}</h3>
</div>
<div class="triplog-modal-body">
    <p>{{ modalInstance.modalData.message }}</p>
</div>
<div class="triplog-modal-footer">
    <button type="button" class="btn {{ modalInstance.modalData.cancelClass }}" data-ng-click="modalInstance.cancel()">
        {{ modalInstance.modalData.cancelText }}
    </button>
    <button class="btn {{ modalInstance.modalData.okClass }}" data-ng-click="modalInstance.ok()">
        {{ modalInstance.modalData.okText }}
    </button>
</div>